# See https://help.github.com/ignore-files/ for more about ignoring files.

###########################
# Server side
###########################
/server/*/bin
/server/*/wwwroot
/server/*/obj

###########################
# Client side
###########################

# Ignore node modules of web app
/webapp/node_modules
/webapp/coverage
/webapp/build
/webapp/.DS_Store
/webapp/.env.local
/webapp/.env.development.local
/webapp/.env.test.local
/webapp/.env.production.local
/webapp/npm-debug.log*
/webapp/yarn-debug.log*
/webapp/yarn-error.log*

# ignore generated CSS files
/webapp/src/**/*.css
!materialize.css
!materialize.min.css

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store